<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2020 Company name </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@pixsellz.io</span>
				<span  class="px-2">+91-6302836262</span>
				<span  class="px-2">India,Hyderabad,500016</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<!-- Footer -->
<!--<footer class="bg-light text-center ">-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container p-4">-->

<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    <section class="mb-4">-->
<!--      &lt;!&ndash; Facebook &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>-->

<!--      &lt;!&ndash; Twitter &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->

<!--      &lt;!&ndash; Google &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>-->

<!--      &lt;!&ndash; Instagram &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>-->

<!--      &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>-->
<!--      &lt;!&ndash; Github &ndash;&gt;-->
<!--      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->


<!--    &lt;!&ndash; Section: Form &ndash;&gt;-->
<!--    <section class="">-->
<!--      <form action="">-->
<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--        <div class="row d-flex justify-content-center">-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-auto">-->
<!--            <p class="pt-2">-->
<!--              <strong>Sign up for our newsletter</strong>-->
<!--            </p>-->
<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->

<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-md-5 col-12">-->
<!--            &lt;!&ndash; Email input &ndash;&gt;-->
<!--            <div class="form-outline mb-4">-->
<!--              <input type="email" id="form5Example2" class="form-control" />-->
<!--              <label class="form-label" for="form5Example2">Email address</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->

<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-auto">-->

<!--            &lt;!&ndash; Submit button &ndash;&gt;-->
<!--            <button type="submit" class="btn btn-primary mb-4">-->
<!--              Subscribe-->
<!--            </button>-->
<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--      </form>-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Form &ndash;&gt;-->


<!--    &lt;!&ndash; Section: Text &ndash;&gt;-->
<!--    <section class="mb-4">-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt-->
<!--        distinctio earum repellat quaerat voluptatibus placeat nam,-->
<!--        commodi optio pariatur est quia magnam eum harum corrupti dicta,-->
<!--        aliquam sequi voluptate quas.-->
<!--      </p>-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Text &ndash;&gt;-->


<!--    &lt;!&ndash; Section: Links &ndash;&gt;-->
<!--    <section class="">-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Links</h5>-->

<!--          <ul class="list-unstyled mb-0">-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 1</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 2</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 3</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 4</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Links</h5>-->

<!--          <ul class="list-unstyled mb-0">-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 1</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 2</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 3</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 4</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Links</h5>-->

<!--          <ul class="list-unstyled mb-0">-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 1</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 2</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 3</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 4</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--          <h5 class="text-uppercase">Links</h5>-->

<!--          <ul class="list-unstyled mb-0">-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 1</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 2</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 3</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#!" class="text-dark">Link 4</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Links &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">-->
<!--    © 2020 Copyright:-->
<!--    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!-- Footer -->

